//-
//- Mixins


mixin socialLinks(width, offset)
  - var social_links_col_width = width
  - var social_links_col_offset = offset
  include partials/social-links


mixin slick_slide_image(imgSrc, imgWidth)
    div
        .image
            img(src=imgSrc, width=imgWidth)


mixin slick_slide_image_asBG(imgDir, imgFile, imgWidth)
    div(style="width:#{imgWidth}; height:#{imgWidth};")
        .image.slick-cover(style="background-image: url(#{imgDir}thumb/#{imgFile}); width:#{imgWidth}; height:#{imgWidth};")
            a(data-img="#{imgDir}#{imgFile}", data-toggle="modal", data-target="#lightbox", style="width:#{imgWidth}; height:#{imgWidth};padding:100%;")
                | &nbsp;
