.row.social
    div(class=" facbook col col-sm-#{social_links_col_width} col-sm-offset-#{social_links_col_offset}")
        a(target='_blank', rel='nofollow', href='http://www.facebook.com/fablab.egypt')
            span.fa-stack.fa-lg
                i.fa.fa-facebook-square.fa-stack-2x
    div(class=" twitter col col-sm-#{social_links_col_width}")
        a(target='_blank', rel='nofollow', href='http://twitter.com/fablabegypt')
            span.fa-stack.fa-lg
                i.fa.fa-twitter-square.fa-stack-2x
    div(class=" youtube col col-sm-#{social_links_col_width}")
        a(target='_blank', rel='nofollow', href='http://www.youtube.com/user/fablabegypt')
            span.fa-stack.fa-lg
                i.fa.fa-youtube-square.fa-stack-2x
    div(class=" flickr col col-sm-#{social_links_col_width}")
        a(target='_blank', rel='nofollow', href='http://www.flickr.com/photos/fablabegypt')
            span.fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x
                i.fa.fa-stack-1x.fa-inverse(style='font-size: 0.6em !important;')
                    i.flickr-left.fa.fa-circle.fa-inverse
                    i.flickr-right.fa.fa-circle.fa-inverse
